# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Project status tracking
.project-status.md
Documentation/PRODUCT.md
Documentation/PROJECT_STATUS.md

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Mac files
.DS_Store

# Coverage directory used by tools like istanbul
coverage/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
